.container {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin: 70px auto 0 auto;
}

.form {
   width: 100%;
}

.input {
   display: flex;
   flex-direction: column;
}

.input__label {
   font-size: 1rem;
   margin-bottom: 15px;
}

.input__input,
.input__textarea {
   outline: none;
   padding: 0.6rem;
   font-size: 1rem;
   text-indent: 1px;
   line-height: 23px;
   border-radius: 4px;
   margin-bottom: 25px;
   border: 1px solid #756969;
   transition: box-shadow 0.1s linear;
}

.input__textarea {
   resize: none;
   white-space: pre-line;
}

.submit__btn {
   width: 100%;
   outline: none;
   color: #000000;
   padding: 0.6rem;
   font-size: 1rem;
   cursor: pointer;
   margin-top: 10px;
   border-radius: 4px;
   background-color: #f5f5f5;
   border: 1px solid #756969;
   transition: background-color 0.1s, box-shadow 0.1s linear;
}

.submit__btn:disabled {
   pointer-events: none;
}

.submit__btn:hover {
   background-color: #f1ecec;
}

.submit__btn:focus {
   background-color: #f5f5f5;
   box-shadow: 0 0 0.7px 3px #532e2eab;
}

.input__input:focus,
.input__textarea:focus {
   box-shadow: 0 0 0.7px 3px #532e2eab;
}

@media screen and (min-width: 600px) {
   .container {
      width: 85%;
   }
}

@media screen and (min-width: 760px) {
   .input__input {
      padding: 0.5rem;
   }

   .input__label {
      font-size: 0.9rem;
      margin-bottom: 13px;
   }

   .input__input,
   .input__textarea {
      font-size: 0.9rem;
      margin-bottom: 30px;
   }

   .input__textarea {
      line-height: 26px;
   }

   .submit__btn {
      font-size: 0.9rem;
   }
}
