.container {
   width: 90%;
   margin: 130px auto 100px auto;
   animation: scaleAnimation 0.2s;
}

.total_votes {
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 3.1rem;
}

.subject_desc {
   display: flex;
   margin-bottom: 20px;
   align-items: center;
   justify-content: space-between;
}

.subject_one,
.subject_two {
   width: 100%;
   height: 40px;
   margin: 10px auto;
   border-radius: 3px;
   position: relative;
   border: 1px solid #5f5858;
   background-color: #f1ecec;
}

.subject_one {
   margin-bottom: 4rem;
}

.subject_two {
   margin-bottom: 3.8rem;
}

.subject_progress {
   top: 0;
   width: 180px;
   height: 100%;
   position: absolute;
   background-color: rgb(83, 46, 46);
   transition: width 0.2s ease-in-out;
   animation: loading 1s ease-in-out infinite;
}

.subject_buttons {
   gap: 40px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.subject_buttons button {
   outline: none;
   color: #000000;
   padding: 0.6rem;
   font-size: 1rem;
   cursor: pointer;
   border-radius: 3px;
   background-color: #f5f5f5;
   border: 1px solid #5f5858;
   transition: background-color 0.1s, box-shadow 0.1s linear;
}

.subject_detail {
   margin-top: 3.5rem;
}

.subject_detail summary {
   padding: 8px;
   cursor: pointer;
}

.subject_detail p {
   margin-top: 16px;
   line-height: 22px;
   letter-spacing: 1px;
   white-space: pre-line;
}

.subject_buttons button:hover {
   background-color: #f1ecec;
}

.subject_buttons button:focus {
   background-color: #f5f5f5;
   box-shadow: 0 0 0.6px 2.8px #522d2dab;
}

@keyframes scaleAnimation {
   from {
      opacity: 0;
      transform: scale(1.2);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes loading {
   0% {
      transform: scale(1);
      background-color: rgba(83, 46, 46, 1);
   }

   50% {
      transform: scale(1.01);
      background-color: rgba(83, 46, 46, 0.8);
   }

   100% {
      transform: scale(1);
      background-color: rgba(83, 46, 46, 1);
   }
}

@media screen and (min-width: 760px) {
   .subject_detail p {
      line-height: 25px;
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 880px) {
   .container {
      width: 80%;
   }
}

@media screen and (min-width: 1030px) {
   .container {
      width: 70%;
   }
}

@media screen and (min-width: 1375px) {
   .container {
      width: 50%;
   }
}

@media screen and (min-width: 1720px) {
   .container {
      width: 40%;
   }
}
